<style>
    .girls-number {
        color: #fff
    }
    
    .girl-items {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-left: 0
    }
    
    .girl-item {
        display: inline-flex;
        text-align: center;
        justify-content: center;
        width: 8rem;
        margin: 1rem
    }
    
    .girl-item .girl-info {
        width: 100%;
        padding: 0;
        margin: 0
    }
    
    .girl-item .girl-avatar {
        object-fit: cover;
        object-position: center top;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        padding: .2rem;
        background-color: #fff;
        box-shadow: 0 0 1rem rgba(0, 0, 0, .12);
        transition: .5s
    }
    
    .girl-item .girl-avatar:hover {
        box-shadow: 0 0 2rem rgba(0, 0, 0, .12)
    }
    
    .girl-item .girl-name {
        font-size: .9rem
    }
    
    .girl-item .girl-from {
        font-size: 12px;
        font-family: 'Songti SC', 'Noto Serif SC', STZhongsong, STKaiti, KaiTi, Roboto, serif;
        font-weight: 700;
        color: var(--hty-secondary-text-color)
    }
    
    .girl-item .girl-from::before {
        content: '「'
    }
    
    .girl-item .girl-from::after {
        content: '」'
    }
</style>
{{ $path := .Get "src" }}
{{ $alt := .Get "alt" }}
{{ $id := .Get "id" }}
{{ $link := .Get "link" }}
<ul class="girl-items">
<li id="{{ $id }}" class="girl-item"><a href="{{ $link | absURL }}" alt="portrait" target="_blank" rel="noopener" class="girl-url"></a>
<figure class="girl-info"><img src="{{ $path | absURL }}" alt="{{ $alt }}" class="girl-avatar"></figure>
    <figcaption class="girl-name">◎ {{ .Get "name" }}</figcaption>
    <figcaption class="girl-from">◎ {{ .Get "caption" }}</figcaption>
</figure>
</a></li>
</ul>
