{{ define "title" }}
{{- .Title -}}
{{ end }}

{{ define "main"}}

{{ partial "header.html" . }}

<div class="ui container">
  <article class="ui segment dream-posts-section">
    <h2 class="ui header">
      {{ .Title }}
      <span class="ui grey sub header">{{ .Content }}</span>
    </h2>

    {{ range .Data.Pages.GroupByDate "2006" }}
    <h3 class="ui header">{{ .Key }}</h3>
    <ul>
      {{ range .Pages }}
      <li>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </li>
      {{ end }}
    </ul>
    {{ end }}
  </article>
</div>
{{ end }}
<script>
  
  // 集成fancybox, 为所有img元素添加父元素
  
  $("img").each(function () {
    // $(this).attr("data-fancybox", "gallery"); 直接给img添加data-fancybox会导致点击图片后图片消失
     var element = document.createElement("a");
     $(element).attr("data-fancybox", "gallery");
     $(element).attr("href", $(this).attr("src"));
     $(this).wrap(element);
  });
  
  </script>